*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--dui-color-background);
	color: var(--dui-color-foreground);
	font-family: var(--dui-font-sans);
	-webkit-font-smoothing: antialiased;
}
